language: ruby
rvm:
  - 2.2
before_script:
  - gem install awesome_bot
  - gem install danger
  - danger
script:
  - allowed_dupes=CONTRIBUTING,mocaplatform,Awesome-Swift-Education,XCDYouTubeKit,SRGMediaPlayer
  - allowed_redirects=growthpush,awesomelinkcounter
  - awesome_bot README.md --allow-ssl --white-list $allowed_dupes,$allowed_redirects
